<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.mit.spbau.alekhina_eliseeva.ssa">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/bird"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/bird"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUp" />
        <activity android:name=".LogIn" />
        <activity android:name=".Menu" />
        <activity android:name=".Top" />
        <activity android:name=".Applications" />
        <activity android:name=".PlaySong" />
        <activity android:name=".SongRecording" />
        <activity android:name=".AnswerOption" />
        <activity android:name=".PlayReverseSong" />
        <activity android:name=".PlayResultSong" />
        <activity android:name=".ReverseSongRecording" />
        <activity android:name=".SelectTitle" />
        <activity android:name=".EndedGames"></activity>
    </application>

</manifest>